<p>
  Hi %recipient.first_name%
</p>

<p>
  A new round of revisions has been uploaded to your project, <%= @project.name %>.
</p>
<p>
  <%= link_to "View your project online", project_url(@project) %>
</p>
<p>Have a great day!</p>