<p>
    <h1>Projects</h1>

</p>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Client</th>
        <th>Name</th>
        <th>Active?</th>
    </thead>
    <tbody>
    <% @Projects.each do |project| %>
        <tr>
            <td><%= project.id %></td>
            <td><%= link_to project.client.name, client_path(project.client)%></td>
            <td><%= link_to project.name, project_path(project.slug) %></td>
            <td><%= convert_true_false(project.active) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
