<% if object.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(object.errors.count, "error") %> prohibited this <%= type %> from being saved:</strong>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>