<% if user_signed_in? %>
	<li><%= link_to(current_user.full_name, edit_user_path(current_user, :format => :js), :class=>"modal-form", :remote => true, data:{ toggle: "modal", target: "#modal-window" }) %></li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
